
# Wage or Salary Income in the Past 12 Months...

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
# load in the data
data = pd.read_csv("wage-or-salary-income-in-the-past-12-months-for-households.csv", index_col="Neighborhood")

# look at the first ten rows of the data
data.head(10)

,Id,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - With wage or salary income,Margin of Error; Total: - With wage or salary income,Estimate; Total: - No wage or salary income,Margin of Error; Total: - No wage or salary income
Neighborhood,,,,,,,
Allegheny Center,1,870.0,93.000000,635.0,91.000000,235.0,59.000000
Allegheny West,2,146.0,36.000000,119.0,35.000000,27.0,20.000000
Allentown,3,1069.0,132.457540,736.0,140.335313,333.0,97.493590
Arlington,4,701.0,104.465305,570.0,106.273233,131.0,45.199558
Arlington Heights,5,144.0,59.000000,99.0,60.000000,45.0,30.000000
Banksville,6,1946.0,229.222599,1564.0,216.584856,382.0,134.988888
Bedford Dwellings,7,723.0,53.000000,348.0,71.000000,375.0,75.000000
Beechview,8,3567.0,258.027130,2719.0,255.476026,848.0,149.207909
Beltzhoover,9,848.0,156.057682,556.0,128.152253,292.0,111.332834
Bloomfield,10,4571.0,205.494525,3724.0,206.458228,847.0,126.960624